.custom-tooltip {
  background-color: white;
  border: 1px solid #d1d5db; 
  box-shadow: 0 4px 6px rgba(21, 2, 2, 0.1); 
  border-radius: 0.5rem; 
  padding: 0rem 0.9rem 0rem 0.9rem; 
}

.tooltip-title {
  font-size: 0.8rem; 
  font-weight: 600; 
  color: #d33e88; 
}

.tooltip-amount {
  font-size: 0.875rem; 
  color: #4b5563;
}

.tooltip-value {
  font-size: 0.875rem; 
  font-weight: 500; 
  color: #111827; 
}
