.navbar {
  display: flex;
  background-color: #f6ddea;
  border-bottom: 1px solid rgba(229, 231, 235, 0.5); /* border-gray-200/50 */
  backdrop-filter: blur(2px);
  padding: 1rem 1.75rem; 
  top: 0;
  z-index: 30;
  align-items: center;
  margin-bottom: 0rem;
  position: fixed;
  top: 0;
  width: 100%;
  margin-left: -1rem;
}

.menu-toggle {
  display: block;
  background: none;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.menu-icon {
  font-size: 1.5rem; /* text-2xl */
}


.side-menu-popup {
  width: 16rem;
  height: calc(100vh - 94px);
  position: fixed;
  top: 94px;
  left: 0;
  background-color: #f6ddea;
  border-right: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-right: 1rem;
  overflow-y: auto;
  z-index: 40; /* higher than the base sidebar */
  scroll-behavior: smooth;
}

/* Hide toggle on large screens */
@media (min-width: 1024px) {
  .menu-toggle {
    display: none;
  }
}

.navbar-logo {
  width: 250px;
  height: 60px;
  object-fit: contain;
  border-radius: 10px ;
}
